name: CI

on:
  push: 
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go 
      uses: actions/setup-go@v6
      with: 
        go-version: '1.25.5'

    - name: Check Go version
      run: go version

    - name: Build
      run: go build ./...

    - name: Test
      run: go test ./...

